@model IEnumerable<QuanLiThuVien.Models.Answer>

@{
    ViewBag.Title = "tam";
}

<h2>tam</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_a)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer_choice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_q)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_a)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer_choice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_q)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
