<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/CSS/giaodien_type_thuvien.css")" />
    <script type="text/javascript">
        function PopUpLogin() {
            window.showModalDialog("/guest/Login", "log", "dialogHeight:300px; dialogWidth:400px;");
        }
        function HideBody() {
            $("#all_page").hide();
        }
        function ShowBody() {
            $("#all_page").show();
        }
    </script>
</head>
<body>
    <div id="loading" style="display:none; color: #0026ff;"><h2>loading...</h2></div>
    <div id="all_page">
        
        <div id="header">
            <div id="header_school">
            THƯ VIỆN ĐẠI HỌC<br>
            KHOA HỌC TỰ NHIÊN <br>
            TP HỒ CHÍ MINH<br>
            </div>@*header ten truong*@
            
            <div id="header_menu">
                   <div id="header_menu_tren">
                       <ul>
                           <li><a href="#">Home</a></li>
                           <li><a href="#">About Us</a></li>
                           <li>
                               <a href="#">News</a>
                               <ul>
                                   <li><a href="#">Sub menu</a></li>
                                   <li><a href="#">Sub menu</a></li>
                               </ul>
                           </li>
                           <li><a href="#">Services</a></li>
                           <li><a href="#">Site Map</a>

                           </li>
                          
                       </ul>
                   </div>@*header_menu_top*@
                    <br>
                 <br>
                    <hr/>
                   <div id="header_menu_duoi">
                       <ul>
                           <li>@Html.ActionLink("Home", "Index", "Home")</li>
                           <li>@Html.ActionLink("Home", "Index", "Home")</li>
                           <li>@Html.ActionLink("Home", "Index", "Home")</li>
                           <li>@Html.ActionLink("Home", "Index", "Home")</li>
                           <li>@Html.ActionLink("Home", "Index", "Home")</li>
                       </ul>
                   </div>@*header_menu_up*@

            </div>@*header menu*@
            <div id="header_phai">          <!-- danh cho viec dang nhap va dang xuat-->
                @if (Session["Username"] != null)
                {
                   
                    <form action="home/LogOut" method="post">
                        <input type="submit" value="Dang xuat" />
                    </form>
                    
                    using (Ajax.BeginForm("EditInfo", "home"
                    , new { load_Layout = "1" },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "content",
                        LoadingElementId = "loading",
                        OnBegin = "HideBody",
                        OnComplete = "ShowBody"

                    }))
                    { 
                        <input type="submit" value="Chinh sua thong tin" />
                    }
                }
                else
                {
                    <form id="theForm" action="guest/Login1" method="GET">
                        <input type="hidden" id="user" name="user"/>
                        <input type="hidden" id="pass" name="pass" />
                        <br><input type="submit" value="login" onclick="window.open('/guest/Login', '', 'height=400,width=400'); return false;"/>
                    </form>    
                    
                    using (Ajax.BeginForm("HocOnline", "guest", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "content",
                        LoadingElementId = "loading",
                        OnBegin="HideBody",
                        OnComplete="ShowBody"
                    }))
                    {
                        <input type="submit" value="dang ki doc gia" />
                    }
                }
            </div>
        </div>@*quan li header*@
        
        <div id="banner">
            <!--<img src="../Content/images/website/image_u4.jpg" style="width: initial;"/>-->
        </div>@*quan li banner*@
        
        <div id="content">
            @RenderBody()
        </div>@*quan li body*@
        
        <div id="footer">
            nhom 1
        </div>@*quan li footer*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", false)
    </div>@*quan li ca trang web*@
</body>
</html>
